body
{
  //background:#F5F6F7;
  font-family:arial;
  background:white;
}
.red
{
  background:red;
}
.banner
{
  background:url('images/logo.jpg');
  background:white;
  height:200px;

}
.bg-official
{
  background:#00275E;
}
.btn-official
{
  background-color:#00275E;
}
.current{
  background:black;
  color:white;
  border-radius:5px;
}

.sidecurrent
{
  background:#00275E;
  border-radius:5px;
  color:white;
  padding-left:15px;
}
.icon
{
  height:25px;
  width:25px;
}
.slidercss
{
  width:100%;
}
.footer
{
  color:white;
  padding:8px;
  font-size:12px;
}
.text-white
{
  color:white;
}
.nav-item .active
{
  background:#00275E;
  border-radius:5px;
  padding-left:15px;
}
/*CIRCLE SLIDER PORTION*/
/* ============================= main menu_splash ====================== */
.menu_splash {
    /* position:absolute;
    bottom:30%;
    left:16%; */

}
#menu_splash {
   padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom:40px;
}
#menu_splash > li {
   padding: 0;
    margin: 0;
    display:inline-block;
    float: left;
    position:relative;
    width: 110px;
    height: 110px;
    margin:0 10px;

}
#menu_splash > li > a{
   display:block;
    width: 100%;
    height:100%;
    text-decoration:none;
    position:relative;
}
#menu_splash > li > a .cube{
   display:block;
   position: relative;
    width:100%;
    height:100%;
}
#menu_splash > li > a .front{
   text-align: center;
   width: 100%;
    height: 100%;
    background:#007BFF;
    //background:#8DC63F;
   border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
#menu_splash > li > a .back{
   text-align: center;
   width: 100%;
    height: 100%;
    background: #333333;
   border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
#menu_splash > li > a .img_icon{
   position: relative;
    z-index: 2;
    padding-top: 30px;
    height:60px;
    width:30px
}
#menu_splash > li > a .txt1{
   position: relative;
    z-index: 3;

    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding-top: 0px;
    text-transform: capitalize;
    font-family: arial;
}
#menu_splash > li.nav1{
   margin-left: 0;
}
#menu_splash > li.nav4{
   margin-right: 0;
}






      /*RIBBON PART*/

.beta .ribbon {
   position: absolute;
   left: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px;
   text-align: right;
  transform: rotate(270deg);
}
.beta .ribbon span {
   font-size: 10px;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg); /* Needed for Safari */
   width: 100px; display: block;
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
   background:#e84c3d;
}
.beta .ribbon span::before {
   content: '';
   position: absolute;
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #e84c3d;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #e84c3d;
}
.beta .ribbon span::after {
   content: '';
   position: absolute;
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #e84c3d;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #e84c3d;
}

.front {
    z-index: 2;
    position: absolute;
    background:#00275E;
}
.back {
    z-index: 1;
    position: absolute;
}
.rollover:hover .back,
.rollover.activeLink .back,
.rollover:focus .back {
    z-index: 2;
}
.rollover:hover .front,
.rollover.activeLink .front,
.rollover:focus .front {
    z-index: 1;
}
.rollover .front {
    opacity: 1;
    -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.rollover .back {
    opacity: 0;
    -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.rollover:hover .front,
.rollover.activeLink .front,
.rollover:focus .front {
    opacity: 0;
}
.rollover:hover .back,
.rollover.activeLink .back,
.rollover:focus .back {
    opacity: 1;
}
.rollover_old {
    -webkit-perspective: 800px;
     -moz-perspective: 800px;
      -ms-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}
.cube {
    height: 265px;
    width: 265px;
    -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
     -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
      -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
       -o-transform: rotateX(0) rotateY(0) rotateZ(0);
          transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.rollover:hover .cube,
.rollover.activeLink .cube,
.rollover:focus .cube {
    -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.front {
    -webkit-transform: translate3d(0,0,24px);
     -moz-transform: translate3d(0,0,24px);
      -ms-transform: translate3d(0,0,24px);
       -o-transform: translate3d(0,0,24px);
          transform: translate3d(0,0,24px);
}
.back {
    -webkit-transform: rotateY(180deg) translate3d(0,0,24px);
     -moz-transform: rotateY(180deg) translate3d(0,0,24px);
      -ms-transform: rotateY(180deg) translate3d(0,0,24px);
       -o-transform: rotateY(180deg) translate3d(0,0,24px);
          transform: rotateY(180deg) translate3d(0,0,24px);
}

.long{

}
/*END OF CIRCLE SLIDER*/

/*START---CSS FOR PHOTOS.PHP*/
.gallerydiv
{
  padding:20px;
}

/*END----CSS FOR PHOTOS.PHP*/
